{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="{% url 'post_list' %}"><h1 id="title">Home</h1></a>
        <a href="{% url 'post_new' %}"><button id="new-post">New</button></a>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>