*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.post{
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 5px solid blue;
}
.post:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.post h1 a{
    text-decoration: none;
}
.post h1 a:hover{
    cursor: pointer;
    color: red;
}
.post-detail .date{
    color: gray;
}